
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>這裡是卡片裡面</h1>
   
    <section>
      <%= @wish_list.title %>
     </section>
   <section>
    <%= simple_format(@wish_list.description) %>
   </section>
   
    <%= form_with(model: @comment, url: wish_list_comments_path(@wish_list)) do |f| %>

      <div>
        <div>留言</div>
        <%= f.text_area :content %>
      </div>

      <%= f.submit "留言" %>
    <% end %>
     
      <%# <ul> %>
        <%# <% @comments.each do |comment| %> 
          <%# 不建議在回圈裡寫render，rails官方建議使用render collection %>
          <%# <%= render "comments/comment" , comment: comment %> 
        <%# <% end %>
      <%# </ul> %>

      <ul>
        <%# 所以變成這樣 %>
        <%= render partial: "comments/comment" , collection: @comments , as: :comment %>
        <%# 再符合慣例的話，可以變成 %>
        <%# <%= render @comments %> %>
      </ul>
      
   
    
</body>
</html>
