
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>這裡是卡片裡面</h1>
   
    <section>
      <%= @wish_list.title %>
      <button id="like_btn" 
              data-controller="favorite-btn"
              data-action="click->favorite-btn#toggle"
              data-id="<%= @wish_list.id %>"
              data-liked="<%= @wish_list.liked_by?(current_user) %>" >
              <i class="fa-regular fa-heart" 
                data-favorite-btn-target="icon"></i>
      </button>
    </section>

    <section>
      <%= simple_format(@wish_list.description) %>
    </section>
   
   <%# 用AJAX方式送資料(rails 6之後) local: false ；或是給他data:{remote: true} %>
   <%# 為了節省網數效能，適用於一次要載入很多資料的更新（反正我前端有出來給你看了，後端要跑但是不用重抓） %>
    <%= form_with(model: @comment, url: wish_list_comments_path(@wish_list) ,data:{remote: true}) do |f| %>

      <div>
        <div>留言</div>
        <%= f.text_area :content %>
      </div>

      <%= f.submit "留言" %>
    <% end %>
     
    <%# <ul class="comments"> %>
      <%# <% @comments.each do |comment| %> 
        <%# <%= render "comments/comment" , comment: comment%> 
        <%# 不建議在回圈裡寫render，rails官方建議使用render collection %>
      <%# <% end %> 
    <%# </ul> %>

    <ul class="comments">
      <%# 所以變成這樣(為了節省記憶體) %>
      <%# <%= render partial: "comments/comment" , collection: @comments , as: :comment %> 
      <%# 再符合慣例的話，可以變成 %>
      <%= render @comments %>
    </ul>
      
   
    
</body>
</html>

<%# <script>
  const like_btn = document.querySelector("#like_btn")
  like_btn.addEventListener("click",(e)=>{
    e.preventDefault
    console.log("123")
    like_btn.textcontent="yes"
  })
</script> %>
