<% if user_sign_in? %>
<nav>
  <%= link_to "我的許願卡" , wish_lists_path %>
  <%= link_to "登出", session_path, method: "delete" %>
  <%= current_user.email %>
  </nav>
<% else %>
<nav>
  <%= link_to "註冊", new_users_path %>
  <%= link_to "登入", login_users_path %>
</nav>
<% end %>
